<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="todoList">
            <h2><span jhiTranslate="mhaweb2App.todoList.detail.title">Todo List</span> {{ todoList.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhaweb2App.todoList.label">Label</span></dt>
                <dd>
                    <span>{{ todoList.label }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.todoList.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ todoList.lastUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.todoList.owner">Owner</span></dt>
                <dd>
                    <span *ngFor="let owner of todoList.owners; let last = last">
                        <a [routerLink]="['/profil', owner?.id, 'view']">{{ owner.displayName }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.todoList.workspace">Workspace</span></dt>
                <dd>
                    <div *ngIf="todoList.workspaceId">
                        <a [routerLink]="['/workspace', todoList.workspaceId, 'view']">{{ todoList.workspaceLabel }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/todo-list', todoList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
