<form *ngIf="todoList" name="deleteForm" (ngSubmit)="confirmDelete(todoList?.id!)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete operation</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
        <mha-alert-error></mha-alert-error>

        <p id="mha-delete-todoList-heading" jhiTranslate="mhaweb2App.todoList.delete.question" [translateValues]="{ id: todoList.id }">Are you sure you want to delete this Todo List?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button id="mha-confirm-delete-todoList" type="submit" class="btn btn-danger">
            <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</form>
