<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shoppingCatalogItem">
            <h2><span jhiTranslate="mhaweb2App.shoppingCatalogItem.detail.title">Shopping Catalog Item</span> {{ shoppingCatalogItem.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhaweb2App.shoppingCatalogItem.label">Label</span></dt>
                <dd>
                    <span>{{ shoppingCatalogItem.label }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.shoppingCatalogItem.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ shoppingCatalogItem.lastUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.shoppingCatalogItem.shoppingCatalogSheld">Shopping Catalog Sheld</span></dt>
                <dd>
                    <div *ngIf="shoppingCatalogItem.shoppingCatalogSheldId">
                        <a [routerLink]="['/shopping-catalog-sheld', shoppingCatalogItem.shoppingCatalogSheldId, 'view']">{{ shoppingCatalogItem.shoppingCatalogSheldLabel }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shopping-catalog-item', shoppingCatalogItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
