<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profilData">
            <h2><span jhiTranslate="mhaweb2App.profilData.detail.title">Profil Data</span> {{ profilData.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhaweb2App.profilData.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="profilData.photo">
                        <a (click)="openFile(profilData.photoContentType, profilData.photo)">
                            <img [src]="'data:' + profilData.photoContentType + ';base64,' + profilData.photo" style="max-width: 100%;" alt="profilData image"/>
                        </a>
                        {{ profilData.photoContentType }}, {{ byteSize(profilData.photo) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.profilData.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ profilData.lastUpdate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profil-data', profilData.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
