<div>
    <h2 id="page-heading">
        <span jhiTranslate="mhaweb2App.profilData.home.title">Profil Data</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profil-data" [routerLink]="['/profil-data/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mhaweb2App.profilData.home.createLabel">
            Create a new Profil Data
            </span>
        </button>
    </h2>

    <mha-alert-error></mha-alert-error>

    <mha-alert></mha-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="profilData?.length === 0">
        <span jhiTranslate="mhaweb2App.profilData.home.notFound">No profilData found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="profilData && profilData.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="mhaweb2App.profilData.photo">Photo</span></th>
                    <th scope="col" ><span jhiTranslate="mhaweb2App.profilData.lastUpdate">Last Update</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let profilData of profilData ;trackBy: trackId">
                    <td><a [routerLink]="['/profil-data', profilData.id, 'view']">{{ profilData.id }}</a></td>
                    <td>
                        <a *ngIf="profilData.photo" (click)="openFile(profilData.photoContentType, profilData.photo)">
                            <img [src]="'data:' + profilData.photoContentType + ';base64,' + profilData.photo" style="max-height: 30px;" alt="profilData image"/>
                        </a>
                        <span *ngIf="profilData.photo">{{ profilData.photoContentType }}, {{ byteSize(profilData.photo) }}</span>
                    </td>
                    <td>{{ profilData.lastUpdate | date:'mediumDate' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/profil-data', profilData.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/profil-data', profilData.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(profilData)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
