<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="task">
            <h2><span jhiTranslate="mhaweb2App.task.detail.title">Task</span> {{ task.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhaweb2App.task.label">Label</span></dt>
                <dd>
                    <span>{{ task.label }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.task.description">Description</span></dt>
                <dd>
                    <span>{{ task.description }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.task.done">Done</span></dt>
                <dd>
                    <span>{{ task.done }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.task.dueDate">Due Date</span></dt>
                <dd>
                    <span>{{ task.dueDate }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.task.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ task.lastUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.task.owner">Owner</span></dt>
                <dd>
                    <span *ngFor="let owner of task.owners; let last = last">
                        <a [routerLink]="['/profil', owner?.id, 'view']">{{ owner.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.task.taskProject">Task Project</span></dt>
                <dd>
                    <div *ngIf="task.taskProjectId">
                        <a [routerLink]="['/task-project', task.taskProjectId, 'view']">{{ task.taskProjectLabel }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/task', task.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
