<div>
    <h2 id="page-heading">
        <span jhiTranslate="mhaweb2App.spent.home.title">Spents</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-spent" [routerLink]="['/spent/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mhaweb2App.spent.home.createLabel">
            Create a new Spent
            </span>
        </button>
    </h2>

    <mha-alert-error></mha-alert-error>

    <mha-alert></mha-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="spents?.length === 0">
        <span jhiTranslate="mhaweb2App.spent.home.notFound">No spents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="spents && spents.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="label"><span jhiTranslate="mhaweb2App.spent.label">Label</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="mhaweb2App.spent.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span jhiTranslate="mhaweb2App.spent.amount">Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spentDate"><span jhiTranslate="mhaweb2App.spent.spentDate">Spent Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="confirmed"><span jhiTranslate="mhaweb2App.spent.confirmed">Confirmed</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdate"><span jhiTranslate="mhaweb2App.spent.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="walletLabel"><span jhiTranslate="mhaweb2App.spent.wallet">Wallet</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spenderDisplayName"><span jhiTranslate="mhaweb2App.spent.spender">Spender</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let spent of spents ;trackBy: trackId">
                    <td><a [routerLink]="['/spent', spent.id, 'view']">{{ spent.id }}</a></td>
                    <td>{{ spent.label }}</td>
                    <td>{{ spent.description }}</td>
                    <td>{{ spent.amount }}</td>
                    <td>{{ spent.spentDate | date:'mediumDate' }}</td>
                    <td>{{ spent.confirmed }}</td>
                    <td>{{ spent.lastUpdate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="spent.walletId">
                            <a [routerLink]="['/wallet', spent.walletId , 'view']" >{{ spent.walletLabel }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="spent.spenderId">
                            <a [routerLink]="['/profil', spent.spenderId , 'view']" >{{ spent.spenderDisplayName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/spent', spent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/spent', spent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(spent)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
