<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="spent">
            <h2><span jhiTranslate="mhaweb2App.spent.detail.title">Spent</span> {{ spent.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhaweb2App.spent.label">Label</span></dt>
                <dd>
                    <span>{{ spent.label }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.spent.description">Description</span></dt>
                <dd>
                    <span>{{ spent.description }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.spent.amount">Amount</span></dt>
                <dd>
                    <span>{{ spent.amount }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.spent.spentDate">Spent Date</span></dt>
                <dd>
                    <span>{{ spent.spentDate }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.spent.confirmed">Confirmed</span></dt>
                <dd>
                    <span>{{ spent.confirmed }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.spent.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ spent.lastUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.spent.wallet">Wallet</span></dt>
                <dd>
                    <div *ngIf="spent.walletId">
                        <a [routerLink]="['/wallet', spent.walletId, 'view']">{{ spent.walletLabel }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.spent.spender">Spender</span></dt>
                <dd>
                    <div *ngIf="spent.spenderId">
                        <a [routerLink]="['/profil', spent.spenderId, 'view']">{{ spent.spenderDisplayName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/spent', spent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
