<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="mha-spent-sharing-heading" jhiTranslate="mhaweb2App.spentSharing.home.createOrEditLabel">Create or edit a Spent Sharing</h2>

            <div>
                <mha-alert-error></mha-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhaweb2App.spentSharing.amountShare" for="field_amountShare">Amount Share</label>
                    <input type="number" class="form-control" name="amountShare" id="field_amountShare"
                           formControlName="amountShare"/>
                    <div *ngIf="editForm.get('amountShare')!.invalid && (editForm.get('amountShare')!.dirty || editForm.get('amountShare')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amountShare')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('amountShare')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhaweb2App.spentSharing.share" for="field_share">Share</label>
                    <input type="number" class="form-control" name="share" id="field_share"
                           formControlName="share"/>
                    <div *ngIf="editForm.get('share')!.invalid && (editForm.get('share')!.dirty || editForm.get('share')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('share')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('share')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('share')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhaweb2App.spentSharing.lastUpdate" for="field_lastUpdate">Last Update</label>
                    <div class="input-group">
                        <input id="field_lastUpdate" type="text" class="form-control" name="lastUpdate" ngbDatepicker #lastUpdateDp="ngbDatepicker" formControlName="lastUpdate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastUpdateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('lastUpdate')!.invalid && (editForm.get('lastUpdate')!.dirty || editForm.get('lastUpdate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastUpdate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhaweb2App.spentSharing.sharingProfil" for="field_sharingProfil">Sharing Profil</label>
                    <select class="form-control" id="field_sharingProfil" name="sharingProfil" formControlName="sharingProfilId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profilOption.id" *ngFor="let profilOption of profils; trackBy: trackById">{{ profilOption.displayName }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhaweb2App.spentSharing.spent" for="field_spent">Spent</label>
                    <select class="form-control" id="field_spent" name="spent" formControlName="spentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="spentOption.id" *ngFor="let spentOption of spents; trackBy: trackById">{{ spentOption.label }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
