<div>
    <h2 id="page-heading">
        <span jhiTranslate="mhaweb2App.spentSharing.home.title">Spent Sharings</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-spent-sharing" [routerLink]="['/spent-sharing/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mhaweb2App.spentSharing.home.createLabel">
            Create a new Spent Sharing
            </span>
        </button>
    </h2>

    <mha-alert-error></mha-alert-error>

    <mha-alert></mha-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="spentSharings?.length === 0">
        <span jhiTranslate="mhaweb2App.spentSharing.home.notFound">No spentSharings found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="spentSharings && spentSharings.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amountShare"><span jhiTranslate="mhaweb2App.spentSharing.amountShare">Amount Share</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="share"><span jhiTranslate="mhaweb2App.spentSharing.share">Share</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdate"><span jhiTranslate="mhaweb2App.spentSharing.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sharingProfilDisplayName"><span jhiTranslate="mhaweb2App.spentSharing.sharingProfil">Sharing Profil</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spentLabel"><span jhiTranslate="mhaweb2App.spentSharing.spent">Spent</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let spentSharing of spentSharings ;trackBy: trackId">
                    <td><a [routerLink]="['/spent-sharing', spentSharing.id, 'view']">{{ spentSharing.id }}</a></td>
                    <td>{{ spentSharing.amountShare }}</td>
                    <td>{{ spentSharing.share }}</td>
                    <td>{{ spentSharing.lastUpdate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="spentSharing.sharingProfilId">
                            <a [routerLink]="['/profil', spentSharing.sharingProfilId , 'view']" >{{ spentSharing.sharingProfilDisplayName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="spentSharing.spentId">
                            <a [routerLink]="['/spent', spentSharing.spentId , 'view']" >{{ spentSharing.spentLabel }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/spent-sharing', spentSharing.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/spent-sharing', spentSharing.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(spentSharing)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
