<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shoppingItem">
            <h2><span jhiTranslate="mhaweb2App.shoppingItem.detail.title">Shopping Item</span> {{ shoppingItem.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhaweb2App.shoppingItem.label">Label</span></dt>
                <dd>
                    <span>{{ shoppingItem.label }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.shoppingItem.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ shoppingItem.lastUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.shoppingItem.checked">Checked</span></dt>
                <dd>
                    <span>{{ shoppingItem.checked }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.shoppingItem.quantity">Quantity</span></dt>
                <dd>
                    <span>{{ shoppingItem.quantity }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.shoppingItem.unit">Unit</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'mhaweb2App.Unit.' + shoppingItem.unit }}">{{ shoppingItem.unit }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.shoppingItem.shoppingCatalogSheld">Shopping Catalog Sheld</span></dt>
                <dd>
                    <div *ngIf="shoppingItem.shoppingCatalogSheldId">
                        <a [routerLink]="['/shopping-catalog-sheld', shoppingItem.shoppingCatalogSheldId, 'view']">{{ shoppingItem.shoppingCatalogSheldLabel }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.shoppingItem.shoppingCart">Shopping Cart</span></dt>
                <dd>
                    <div *ngIf="shoppingItem.shoppingCartId">
                        <a [routerLink]="['/shopping-cart', shoppingItem.shoppingCartId, 'view']">{{ shoppingItem.shoppingCartLabel }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shopping-item', shoppingItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
