<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profil">
            <h2><span jhiTranslate="mhaweb2App.profil.detail.title">Profil</span> {{ profil.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhaweb2App.profil.displayName">Display Name</span></dt>
                <dd>
                    <span>{{ profil.displayName }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.profil.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ profil.lastUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.profil.user">User</span></dt>
                <dd>
                    {{ profil.userLogin }}
                </dd>
                <dt><span jhiTranslate="mhaweb2App.profil.profilData">Profil Data</span></dt>
                <dd>
                    <div *ngIf="profil.profilDataId">
                        <a [routerLink]="['/profil-data', profil.profilDataId, 'view']">{{ profil.profilDataId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profil', profil.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
