<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="todo">
            <h2><span jhiTranslate="mhaweb2App.todo.detail.title">Todo</span> {{ todo.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhaweb2App.todo.label">Label</span></dt>
                <dd>
                    <span>{{ todo.label }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.todo.done">Done</span></dt>
                <dd>
                    <span>{{ todo.done }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.todo.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ todo.lastUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.todo.todoList">Todo List</span></dt>
                <dd>
                    <div *ngIf="todo.todoListId">
                        <a [routerLink]="['/todo-list', todo.todoListId, 'view']">{{ todo.todoListLabel }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/todo', todo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
