<div>
    <h2 id="page-heading">
        <span jhiTranslate="mhaweb2App.spentConfig.home.title">Spent Configs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-spent-config" [routerLink]="['/spent-config/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mhaweb2App.spentConfig.home.createLabel">
            Create a new Spent Config
            </span>
        </button>
    </h2>

    <mha-alert-error></mha-alert-error>

    <mha-alert></mha-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="spentConfigs?.length === 0">
        <span jhiTranslate="mhaweb2App.spentConfig.home.notFound">No spentConfigs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="spentConfigs && spentConfigs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="label"><span jhiTranslate="mhaweb2App.spentConfig.label">Label</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span jhiTranslate="mhaweb2App.spentConfig.amount">Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spentLabel"><span jhiTranslate="mhaweb2App.spentConfig.spentLabel">Spent Label</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdate"><span jhiTranslate="mhaweb2App.spentConfig.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="walletLabel"><span jhiTranslate="mhaweb2App.spentConfig.wallet">Wallet</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let spentConfig of spentConfigs ;trackBy: trackId">
                    <td><a [routerLink]="['/spent-config', spentConfig.id, 'view']">{{ spentConfig.id }}</a></td>
                    <td>{{ spentConfig.label }}</td>
                    <td>{{ spentConfig.amount }}</td>
                    <td>{{ spentConfig.spentLabel }}</td>
                    <td>{{ spentConfig.lastUpdate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="spentConfig.walletId">
                            <a [routerLink]="['/wallet', spentConfig.walletId , 'view']" >{{ spentConfig.walletLabel }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/spent-config', spentConfig.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/spent-config', spentConfig.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(spentConfig)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
