<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="spentConfig">
            <h2><span jhiTranslate="mhaweb2App.spentConfig.detail.title">Spent Config</span> {{ spentConfig.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhaweb2App.spentConfig.label">Label</span></dt>
                <dd>
                    <span>{{ spentConfig.label }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.spentConfig.amount">Amount</span></dt>
                <dd>
                    <span>{{ spentConfig.amount }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.spentConfig.spentLabel">Spent Label</span></dt>
                <dd>
                    <span>{{ spentConfig.spentLabel }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.spentConfig.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ spentConfig.lastUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.spentConfig.wallet">Wallet</span></dt>
                <dd>
                    <div *ngIf="spentConfig.walletId">
                        <a [routerLink]="['/wallet', spentConfig.walletId, 'view']">{{ spentConfig.walletLabel }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/spent-config', spentConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
