<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shoppingCatalogCart">
            <h2><span jhiTranslate="mhaweb2App.shoppingCatalogCart.detail.title">Shopping Catalog Cart</span> {{ shoppingCatalogCart.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhaweb2App.shoppingCatalogCart.label">Label</span></dt>
                <dd>
                    <span>{{ shoppingCatalogCart.label }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.shoppingCatalogCart.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ shoppingCatalogCart.lastUpdate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shopping-catalog-cart', shoppingCatalogCart.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
