<div>
    <h2 id="page-heading">
        <span jhiTranslate="mhaweb2App.shoppingCatalogCart.home.title">Shopping Catalog Carts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shopping-catalog-cart" [routerLink]="['/shopping-catalog-cart/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mhaweb2App.shoppingCatalogCart.home.createLabel">
            Create a new Shopping Catalog Cart
            </span>
        </button>
    </h2>

    <mha-alert-error></mha-alert-error>

    <mha-alert></mha-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="shoppingCatalogCarts?.length === 0">
        <span jhiTranslate="mhaweb2App.shoppingCatalogCart.home.notFound">No shoppingCatalogCarts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="shoppingCatalogCarts && shoppingCatalogCarts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="label"><span jhiTranslate="mhaweb2App.shoppingCatalogCart.label">Label</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdate"><span jhiTranslate="mhaweb2App.shoppingCatalogCart.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let shoppingCatalogCart of shoppingCatalogCarts ;trackBy: trackId">
                    <td><a [routerLink]="['/shopping-catalog-cart', shoppingCatalogCart.id, 'view']">{{ shoppingCatalogCart.id }}</a></td>
                    <td>{{ shoppingCatalogCart.label }}</td>
                    <td>{{ shoppingCatalogCart.lastUpdate | date:'mediumDate' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/shopping-catalog-cart', shoppingCatalogCart.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/shopping-catalog-cart', shoppingCatalogCart.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(shoppingCatalogCart)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
