<div>
    <h2 id="page-heading">
        <span jhiTranslate="mhaweb2App.spentSharingConfig.home.title">Spent Sharing Configs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-spent-sharing-config" [routerLink]="['/spent-sharing-config/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mhaweb2App.spentSharingConfig.home.createLabel">
            Create a new Spent Sharing Config
            </span>
        </button>
    </h2>

    <mha-alert-error></mha-alert-error>

    <mha-alert></mha-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="spentSharingConfigs?.length === 0">
        <span jhiTranslate="mhaweb2App.spentSharingConfig.home.notFound">No spentSharingConfigs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="spentSharingConfigs && spentSharingConfigs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="share"><span jhiTranslate="mhaweb2App.spentSharingConfig.share">Share</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdate"><span jhiTranslate="mhaweb2App.spentSharingConfig.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spentConfigLabel"><span jhiTranslate="mhaweb2App.spentSharingConfig.spentConfig">Spent Config</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="profilDisplayName"><span jhiTranslate="mhaweb2App.spentSharingConfig.profil">Profil</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let spentSharingConfig of spentSharingConfigs ;trackBy: trackId">
                    <td><a [routerLink]="['/spent-sharing-config', spentSharingConfig.id, 'view']">{{ spentSharingConfig.id }}</a></td>
                    <td>{{ spentSharingConfig.share }}</td>
                    <td>{{ spentSharingConfig.lastUpdate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="spentSharingConfig.spentConfigId">
                            <a [routerLink]="['/spent-config', spentSharingConfig.spentConfigId , 'view']" >{{ spentSharingConfig.spentConfigLabel }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="spentSharingConfig.profilId">
                            <a [routerLink]="['/profil', spentSharingConfig.profilId , 'view']" >{{ spentSharingConfig.profilDisplayName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/spent-sharing-config', spentSharingConfig.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/spent-sharing-config', spentSharingConfig.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(spentSharingConfig)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
