<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shoppingCatalogSheld">
            <h2><span jhiTranslate="mhaweb2App.shoppingCatalogSheld.detail.title">Shopping Catalog Sheld</span> {{ shoppingCatalogSheld.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhaweb2App.shoppingCatalogSheld.label">Label</span></dt>
                <dd>
                    <span>{{ shoppingCatalogSheld.label }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.shoppingCatalogSheld.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ shoppingCatalogSheld.lastUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.shoppingCatalogSheld.isDefault">Is Default</span></dt>
                <dd>
                    <span>{{ shoppingCatalogSheld.isDefault }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.shoppingCatalogSheld.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{ shoppingCatalogSheld.isDeleted }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.shoppingCatalogSheld.shoppingCatalogCart">Shopping Catalog Cart</span></dt>
                <dd>
                    <div *ngIf="shoppingCatalogSheld.shoppingCatalogCartId">
                        <a [routerLink]="['/shopping-catalog-cart', shoppingCatalogSheld.shoppingCatalogCartId, 'view']">{{ shoppingCatalogSheld.shoppingCatalogCartLabel }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shopping-catalog-sheld', shoppingCatalogSheld.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
