<div>
    <h2 id="page-heading">
        <span jhiTranslate="mhaweb2App.shoppingCatalogSheld.home.title">Shopping Catalog Shelds</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shopping-catalog-sheld" [routerLink]="['/shopping-catalog-sheld/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mhaweb2App.shoppingCatalogSheld.home.createLabel">
            Create a new Shopping Catalog Sheld
            </span>
        </button>
    </h2>

    <mha-alert-error></mha-alert-error>

    <mha-alert></mha-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="shoppingCatalogShelds?.length === 0">
        <span jhiTranslate="mhaweb2App.shoppingCatalogSheld.home.notFound">No shoppingCatalogShelds found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="shoppingCatalogShelds && shoppingCatalogShelds.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="label"><span jhiTranslate="mhaweb2App.shoppingCatalogSheld.label">Label</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdate"><span jhiTranslate="mhaweb2App.shoppingCatalogSheld.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isDefault"><span jhiTranslate="mhaweb2App.shoppingCatalogSheld.isDefault">Is Default</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isDeleted"><span jhiTranslate="mhaweb2App.shoppingCatalogSheld.isDeleted">Is Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shoppingCatalogCartLabel"><span jhiTranslate="mhaweb2App.shoppingCatalogSheld.shoppingCatalogCart">Shopping Catalog Cart</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let shoppingCatalogSheld of shoppingCatalogShelds ;trackBy: trackId">
                    <td><a [routerLink]="['/shopping-catalog-sheld', shoppingCatalogSheld.id, 'view']">{{ shoppingCatalogSheld.id }}</a></td>
                    <td>{{ shoppingCatalogSheld.label }}</td>
                    <td>{{ shoppingCatalogSheld.lastUpdate | date:'mediumDate' }}</td>
                    <td>{{ shoppingCatalogSheld.isDefault }}</td>
                    <td>{{ shoppingCatalogSheld.isDeleted }}</td>
                    <td>
                        <div *ngIf="shoppingCatalogSheld.shoppingCatalogCartId">
                            <a [routerLink]="['/shopping-catalog-cart', shoppingCatalogSheld.shoppingCatalogCartId , 'view']" >{{ shoppingCatalogSheld.shoppingCatalogCartLabel }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/shopping-catalog-sheld', shoppingCatalogSheld.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/shopping-catalog-sheld', shoppingCatalogSheld.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(shoppingCatalogSheld)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
