<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="mha-shopping-cart-heading" jhiTranslate="mhaweb2App.shoppingCart.home.createOrEditLabel">Create or edit a Shopping Cart</h2>

            <div>
                <mha-alert-error></mha-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhaweb2App.shoppingCart.label" for="field_label">Label</label>
                    <input type="text" class="form-control" name="label" id="field_label"
                           formControlName="label"/>
                    <div *ngIf="editForm.get('label')!.invalid && (editForm.get('label')!.dirty || editForm.get('label')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('label')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('label')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('label')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 40 }">
                        This field cannot be longer than 40 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhaweb2App.shoppingCart.lastUpdate" for="field_lastUpdate">Last Update</label>
                    <div class="input-group">
                        <input id="field_lastUpdate" type="text" class="form-control" name="lastUpdate" ngbDatepicker #lastUpdateDp="ngbDatepicker" formControlName="lastUpdate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastUpdateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('lastUpdate')!.invalid && (editForm.get('lastUpdate')!.dirty || editForm.get('lastUpdate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastUpdate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhaweb2App.shoppingCart.shoppingCatalogCart" for="field_shoppingCatalogCart">Shopping Catalog Cart</label>
                    <select class="form-control" id="field_shoppingCatalogCart" name="shoppingCatalogCart" formControlName="shoppingCatalogCartId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="shoppingCatalogCartOption.id" *ngFor="let shoppingCatalogCartOption of shoppingcatalogcarts; trackBy: trackById">{{ shoppingCatalogCartOption.label }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="mhaweb2App.shoppingCart.owner" for="field_owners">Owner</label>
                    <select class="form-control" id="field_owners" multiple name="owners" formControlName="owners">
                        <option [ngValue]="getSelected(editForm.get('owners')!.value, profilOption)" *ngFor="let profilOption of profils; trackBy: trackById">{{ profilOption.displayName }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mhaweb2App.shoppingCart.workspace" for="field_workspace">Workspace</label>
                    <select class="form-control" id="field_workspace" name="workspace" formControlName="workspaceId">
                        <option *ngIf="!editForm.get('workspaceId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="workspaceOption.id" *ngFor="let workspaceOption of workspaces; trackBy: trackById">{{ workspaceOption.label }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('workspaceId')!.invalid && (editForm.get('workspaceId')!.dirty || editForm.get('workspaceId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('workspaceId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
