<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shoppingCart">
            <h2><span jhiTranslate="mhaweb2App.shoppingCart.detail.title">Shopping Cart</span> {{ shoppingCart.id }}</h2>

            <hr>

            <mha-alert-error></mha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mhaweb2App.shoppingCart.label">Label</span></dt>
                <dd>
                    <span>{{ shoppingCart.label }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.shoppingCart.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ shoppingCart.lastUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.shoppingCart.shoppingCatalogCart">Shopping Catalog Cart</span></dt>
                <dd>
                    <div *ngIf="shoppingCart.shoppingCatalogCartId">
                        <a [routerLink]="['/shopping-catalog-cart', shoppingCart.shoppingCatalogCartId, 'view']">{{ shoppingCart.shoppingCatalogCartLabel }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.shoppingCart.owner">Owner</span></dt>
                <dd>
                    <span *ngFor="let owner of shoppingCart.owners; let last = last">
                        <a [routerLink]="['/profil', owner?.id, 'view']">{{ owner.displayName }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="mhaweb2App.shoppingCart.workspace">Workspace</span></dt>
                <dd>
                    <div *ngIf="shoppingCart.workspaceId">
                        <a [routerLink]="['/workspace', shoppingCart.workspaceId, 'view']">{{ shoppingCart.workspaceLabel }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shopping-cart', shoppingCart.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
